# Ignore Git and devcontainer metadata
.git
.gitignore
.devcontainer/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db
